<nav class="nav" *ngIf="role == 'Admin'; else user">
  <a class="nav__link" routerLink="/producten">Producten</a>
  <a class="nav__link" routerLink="/producten/create">Product aanmaken</a>
  <a class="nav__link" routerLink="/producten/bewerken">Product Bewerken</a>
  <a class="nav__link" role="button" (click)="logout()">Uitloggen</a>
</nav>
<router-outlet></router-outlet>

<ng-template #user>
  <nav class="nav" *ngIf="role == 'User'; else notLogin">
    <a class="nav__link" routerLink="/producten">Producten</a>
    <a class="nav__link" routerLink="/cart">Winkelwagen</a>
    <a class="nav__link" role="button" (click)="logout()">Uitloggen</a>
  </nav>
</ng-template>

<ng-template #notLogin>
  <nav class="nav">
    <a class="nav__link" routerLink="/login">Inloggen</a>
    <a class="nav__link" routerLink="/register">Registeren</a>
  </nav>
</ng-template>