*,*::before,*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

:root{
    --white: #faf3f3;
    --lichtblue: #e1e5ea;
    --blue: #a7bbc7;
    --pink: #da7f8f;
}

body{
    font-size: 1.8rem;
    font-family: 'Rubik', sans-serif;
    background-color: var(--blue);
}